* {
  margin: 0;
  padding: 0;
}

.body {
  background: linear-gradient(to right, #18a4a9, #235edd);
  /* background: linear-gradient(to right, #0ab4ba, #1164bd); */
  /* background: linear-gradient(to right, turquoise, dodgerblue); */
  /* background: linear-gradient(to right, turquoise, royalblue); */
  color: black;
}

.contenedor {
  background: white;
  margin: auto;
  padding: 1em;
  width: 80%;
  box-shadow: 0.1em 0.1em 0.1em 0.1em black;
  border-radius: 0.5em;
}